<%= form_for(@profile) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  Habilidades:
  <ul>
    <%= f.fields_for :advances do |advance_form| %>
     <li>
       <%= advance_form.check_box :_destroy%>

       <%= advance_form.label :skill_id  %>
       <%= advance_form.select :skill_id, Skill.all.collect { |habilidad| [ habilidad.name, habilidad.id ] }, include_blank: true  %>

       <%= advance_form.label :percentage  %>
       <%= advance_form.text_field :percentage %>

       <%= advance_form.label :description  %>
       <%= advance_form.text_field :description %>
     </li>
    <% end %>
  </ul>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
