<p id="notice"><%= notice %></p>

<h1>Listing Profiles</h1>

<%= link_to 'New Profile', new_profile_path %>

<table >
  <tbody>
    <% @profiles.each do |profile| %>

      <tr>
        <td colspan="5"><h2><%= profile.name %></h2></td>

      </tr>
      <tr>
        <td colspan="5" style=" width:500px;">
          <%= line_chart  profile.skills.uniq.map { |skill|
          {name: skill.name, data: skill.advances.where(profile:profile).group(:created_at).sum("percentage") }
          } %>

        </td>
      </tr>
      <tr>
        <td><%= link_to 'Show', profile %></td>
        <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
        <td><%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>


    <% end %>
  </tbody>
</table>

<br>
